aside, article, section, header, footer, nav {
	display: block;
}
html, body {
	margin: 0;
	padding: 0;
}
html {
	background: rgb(123, 121, 143); 
}
body {
	width: 960px;
	background: #fff;
	margin: 0 auto 2em;
	font-family: Georgia;
}
header {
	background: rgb(76, 67, 65);
	margin-bottom: 0px;
}
header h1 {
	font-family: Arial;
	color: white;
	text-align: center;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 10px;
	margin: 0;
}
nav {
	background: rgb(237, 228, 214);
	float: left;
	padding: 10px;
	height: 500px;
}
.col1 {
	background: rgb(219,126,64);
	height: 500px;
	padding: 20px;
	width: 480px;
	float: left;

}
.col2 {
	background: rgb(173, 169, 130);
	height: 500px;
	padding: 20px;
	width: 250px;
	float: right;
}

footer {
	background: rgb(100, 98, 102);
	line-height: 40px;
	font-size: 15px;
	color: white;
	padding: 0 20px;
	clear: both;
}

nav ul li {
	text-decoration: underline;
	font-weight: bold;
	color: red;
	list-style: none;
	padding: 10px 0px;
}
